<h1 class="ui blue header"><%= @gif.name.titleize %></h1>

<div class="ui link cards">
  <a class="ui card" href="<%= user_path(@gif.user) %>">

    <div class="content">
      <div class="header">
        <h2>Gif Creator: <%= @gif.user.username.titleize %></h2>
      </div>
    </div>

    <div class="image">
        <img src="<%= @gif.giflink %>">
    </div>

  </a>
</div>
