<h1>Gif Wizards:</h1>

<div class="ui link cards">
  <% @users.each do |user| %>

  <div class="card">
    <div class="content">
      <div class="header"><%= link_to user.username.titleize, user_path(user) %></div>
    </div>

    <div class="image">
        <img src="<%= user.gifs.first.giflink %>">
    </div>
  </div>

  <% end %>
</div>
