<h1 class="ui blue header">
  <%= @user.username.titleize %>'s Gifs
</h1>

<div class="ui link cards">
  <% @user.gifs.each do |gif| %>

  <a class="card" href="<%= gif_path(gif) %>">
    <div class="content">
      <div class="header"><%= gif.name %></div>
    </div>

    <div class="image">
        <img src="<%= gif.giflink %>">
    </div>
  </a>

  <% end %>
</div>
