<h1 class="ui blue header"><%= @user.username.titleize %>'s Profile Page</h1>

<h2 class="ui blue header">My Gifs:</h2>

<div class="ui link cards">
  <% @user.gifs.each do |gif| %>

  <a class="ui card" href="<%= gif_path(gif) %>">
    <div class="content">
      <div class="header"><%= gif.name %></div>
    </div>

    <div class="image">
        <img src="<%= gif.giflink %>">
    </div>
  </a>

  <% end %>
</div>
