<h1>
  <%= @user.username.titleize %>'s Profile Page
</h1>

<h2>My Gifs:</h2>

<div class="ui link cards">
  <% @user.gifs.each do |gif| %>

  <div class="card">
    <div class="image">
        <img src="<%= gif.giflink %>">
    </div>
    <div class="content">
      <div class="header"><%= link_to gif.name, gif_path(gif) %></div>
    </div>
  </div>
  <% end %>
</div>
