<h1>Categories</h1>

<div class="ui link cards">
  <% @categories.each do |category| %>

  <a class="ui card" href="<%= category_path(category) %>">
    <div class="content">
      <div class="header"><%= category.name.titleize %></div>
    </div>

    <div class="image">
        <img src="<%= category.gifs.first.giflink %>">
    </div>
  </a>

  <% end %>
</div>
