<h1>Categories</h1>

<div class="ui link cards">
  <% @categories.each do |category| %>

  <div class="card">
    <div class="image">
        <img src="<%= category.gifs.first.giflink %>">
    </div>
    <div class="content">
      <div class="header"><%= link_to category.name.titleize, category_path(category) %></div>
    </div>
  </div>

  <% end %>
</div>
