<h1>
  <%= @category.name.titleize %>
</h1>

<div class="ui link cards">
  <% @category.gifs.each do |gif| %>

  <a class="ui card" href="<%= gif_path(gif) %>">
    <div class="image">
        <img src="<%= gif.giflink %>">
    </div>
    <div class="content">
      <div class="header"><%= gif.name %></div>
    </div>
  </a>

  <% end %>
</div>
